<div class="app">
  <h2 class="app-title">Todo</h2>
  <form>
    <input class="input-title" name="todo" type="text" #newTodo placeholder="what do you want to do?" />
    <button class="button primary" (click)="addTodo(newTodo)">SUBMIT</button>
  </form>

  <div class="filter-container" (click)="onFilterChange($event)">
    <a [class.filter-current]="filterAction=='all'" name="all" href="#">ALL</a>
    <a [class.filter-current]="filterAction=='completed'" name="completed" href="#">COMPLETED</a>
    <a [class.filter-current]="filterAction=='bookmarked'" name="bookmarked" href="#">BOOKMARKED</a>
  </div>

  <div *ngIf="store.filteredTodos.length===0">{{noTodoMessage}} :)</div>

  <ul class="todos">
    <li class="todo-item" *ngFor="let todo of store.filteredTodos">

      <input *ngIf="todo.edit" #dirtyTodo (keyup)="editTodo($event, todo.id, dirtyTodo.value)" value={{todo.title}} />

      <span *ngIf="!todo.edit" [class.completed]="todo.completed" (dblclick)="toggleCompleted(todo.id)"
        class="todo-title">{{todo.title}}</span>

      <span class="buttons">
        <button (click)="toggleEdit(todo.id)">&#x270D;</button>
        <button class="delete" (click)="deleteTodo(todo.id)">&#x2716;</button>
        <button title="click to toggle bookmark" [className]="_isTodoBookmarked(todo.id)?'bookmarked':''"
          (click)="toggleBookmark(todo.id)">
          <span *ngIf="!_isTodoBookmarked(todo.id)">&#x2606;</span>
          <span *ngIf="_isTodoBookmarked(todo.id)">&#x2605;</span>
        </button>
      </span>
    </li>
  </ul>
</div>
